﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewContext.RouteData.Values["Controller"]</title>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<link rel='stylesheet' type='text/css' href="@Url.Content("~/Content/styles/main.css")">
</head>
<body>
	@Html.Partial("_Navbar")
	@RenderBody()

	<footer class='footer navbar-fixed-bottom'>
		<ul class="nav nav-pills nav-stacked">
			<li><a href="https://bitbucket.org/gaikema/whowouldwin">Source code</a></li>
        </ul>
        <p>&copy 2016 Matthew Gaikema</p>
	</footer>

	<script src='dist/main.min.js'></script>
</body>
</html>

