﻿body {
    background-image: url("../Graph/graph.png");
    background-color: lightblue;
    font-family: Arial,Helvetica,sans-serif;
}

/* http://stackoverflow.com/a/13356401/5415895 */
.absolute-center {
    width: 500px;
    height: 150px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

#input {
    /* I copied a lot of this from WolframAlpha. */
    border-radius: 7px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(9,10,10,.3);
}

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
    background-color:rgba(0, 0, 0, 0.25);
}