﻿<div class="container">
	<div id='input' class="absolute-center">
		<h1>Who Would Win?</h1>
		<form class="form-inline" method="get" action="@Url.Action("Compare", "Home")">
			<div class="form-group">
				<input type="text" name='leftInput' class="form-control">
				Vs
				<input type="text" name='rightInput' class="form-control">
			</div>
			<div class="input-group-btn">
				<button type="submit" class="btn btn-default">Go!</button>
			</div>
		</form>
	</div>
</div>
